:root {
  --p500: #2a6cd3;
  --p550: #2867c9;
  --s500: #8495ac;
  --s600: #667b97;
  --s775: #424f61;
  --s900: #28303c;
  --linkBottomBorder: #dbdfe6;
  --linkVisited: #6e56cd;
  --linkHover: #2867c9;
  --linkHoverBottomBorder: #2867c9;
  --linkActive: #ee0000;
  --linkFocusBackground: #ecf2fc;
}

html {
  font-size: 100%;
}

body {
  font-family: "Arial";
  font-size: 16px;
  margin: 0px;
  height: 100%;
}

.container {
  max-height: 60%;
  max-height: 60vh;
  min-height: 60%;
  min-height: 60vh;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  margin-left: 48px;
  margin-right: 48px;
  border-bottom: 1px solid var(--s500);
}

.header {
  max-height: 128px;

  & .title {
    font-size: 2rem;
    margin-top: 36px;
    color: var(--p500);
  }

  & .product {
    font-size: 1.5rem;
    color: var(--s600);
    margin-top: 10px;
    margin-bottom: 8px;
  }
}

hr {
  margin-top: 11px;
}

.dropdown { 
    display: inline-block; 
    position: relative;
    background-color: white;
} 

.dropdown-content {
      display: none;
      position: absolute;
      width: 100%;
      overflow: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdown-content {
      display: block;
}

.dropdown-content a {
      display: block;
      background-color: white;
      color: #000000;
      padding: 5px;
      text-decoration: none;
}

.dropdown-content a:hover {
      color: #FFFFFF;
      background-color: var(--s500);
}

.content {
  max-height: inherit;
  overflow: auto;
  margin-top: 1.5rem;
  border-top: solid 1px var(--s500);

  & p {
    font-weight: normal;
    font-size: 16px;
    color: var(--s900);
    line-height: 1.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  & .whats-new-header {
    height: 128px;
    position: fixed;
    display: contents;
  }

  & h1 {
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--p500);
    margin-bottom: 0;
    margin-top: 1.25rem;
  }

  & h1:first-of-type {
    margin-top: 1.75rem;
  }

  & h2 {
    font-size: 1.125rem;
    color: var(--s775);
    margin-bottom: 0rem;

    & + p {
      margin-top: 0.25rem;
    }
  }

  & h1 + h2 {
    margin-top: 0.375rem;
  }

  & strong {
    color: var(--s775);
  }

  & ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-top: 0;
    margin-top: 0.25rem;
    padding-inline-start: 1.5rem;

    & > li {
      line-height: 1.25rem;
      margin-bottom: 0;
    }

    & #content {
      overflow: scroll;
    }
  }

  /********** Links **********/

  & a {
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px solid var(--linkBottomBorder);
  }

  & [aria-hidden] {
    text-decoration: none;
    border-bottom: none;
  }

  /* unvisited link */
  & a:link {
    color: var(--p550);
  }

  /* visited link */
  & a:visited {
    color: var(--linkVisited);
  }

  /* mouse over link */
  & a:hover {
    color: var(--linkHover);
    text-decoration: none;
    border-bottom: 1px solid var(--linkHoverBottomBorder);
  }

  /* selected link */
  & a:active {
    background: inherit;
    color: var(--linkActive);
    border-bottom: none;
  }

  & a:focus {
    outline: none;
  }

  & a:focus-visible {
    background: var(--linkFocusBackground);
  }

  & a[href^="http"]::after,
  a[href^="starshelp"]::after {
    content: "";
    width: 11px;
    height: 11px;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23222' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
  }
}